body {
  font-family: -apple-system ,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helventica Neue,sans-serif;
  padding: 0;
  margin: 0;
}

.top_bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  font-size: 20px;
  color: #bbb;
}

.top_bar h1{
  display: inline-block;
}

.sort_contain{
  width: 158px;
  display: inline-block;
  text-align: right;
}
@media (max-width: 446px) {
  .sort_contain{
    text-align: left;
    margin-bottom: 20px;
  }
}

.coin_sort {
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fff;
  padding: 2px;
  height: 25px;
}


.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

.crypto_grid {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.crypto_container {
  display: inline-block;
  margin: 20px 2px;
  height: 300px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.crypto_container p {
  font-size: 14px;
  margin: 0;
}

.coin_rank{
  position: relative;
  padding: 4px 5px;
  float: left;
  background-color: #ccc;
  border-radius: 4px 0 4px 0;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px 1px #333;
}

.icon_container{
  width: 100%;
  max-height: 150px;
  padding: 10px 0;
  margin: 0;
}

.coin_icon {
  width: 130px;
}

.crypto_container p.coin_name {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data_container{
  width: 100%;
}

.crypto_container p.coin_price{
  margin: 0;
  font-size: 17px;
}

.coin_change{
  padding: 15px 0;
  font-size: 20px;
}


/* keeping this because it's cool
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
